.root {
  flex-grow: 1;
}
.MuiAppBar-root {
  z-index : 10000 !important;
}
.MuiDrawer-paper {
  top: 10% !important;
}
.appBar {
  z-index: 0;/*  Ensure it stays above the drawer */
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.menuButton {
  margin-right: 16px;
}
.rightSection {
  display: flex;
  align-items: center;
}
.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(243, 240, 240, 0.15);
  color: white !important;
  margin-right: 16px;
  width: 100%;
  max-width: 300px;
}
.searchIcon {
  padding: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: contents;
  align-items: center;
  justify-content: center;
}
.inputRoot {
  color : white !important;
}
.inputInput {
  padding: 8px 8px 8px 40px;
  width: 100%;
}

/*------------------inherit css-------------------*/
.css-8j6b76-MuiInputBase-root-MuiOutlinedInput-root{
  color : white !important;
}