.root {
  display: flex;
}

.appBar {
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.drawer {
  width: 25vw;
  flex-shrink: 0;
}

.drawerPaper {
  width: 25vw;
}

/*.toolbarSpacer {
  min-height: 64px;  Match the AppBar height
} */

.content {
  flex-grow: 1;
  padding: 16px;
  margin-left: 25vw; /* Shift the main content to the right to make space for the drawer */
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.menuButton {
  margin-right: 16px;
}

.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-right: 16px;
  width: 100%;
  max-width: 400px;
}

.searchIcon {
  padding: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputRoot {
  color: 'inherit';
}

.inputInput {
  padding: 8px 8px 8px 40px;
  width: 100%;
}

.MuiDrawer-paper {
  top: 0;
  flex: 1 0 auto;
  height: 35% !important;
  display: grid !important;
  z-index: 0 !important;
  outline: 0;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}