.root {
  flex-grow: 1;
}
.appBar {
  z-index: 1400; /* Ensure it stays above the drawer */
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.menuButton {
  margin-right: 16px;
}
.rightSection {
  display: flex;
  align-items: center;
}
.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white !important;
  margin-right: 16px;
  width: 100%;
  max-width: 300px;
}
.searchIcon {
  padding: 8px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: contents;
  align-items: center;
  justify-content: center;
}
.inputRoot {
  color: inherit;
}
.inputInput {
  padding: 8px 8px 8px 40px;
  width: 100%;
}
