/* Conteneur principal */
.timeLinesToAll {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes si nécessaire */
  gap: 10px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Conteneur de la table */
.table-container {
  flex: 1 1 calc(0% - 5px); /* Largeur de 25% avec un espace entre les éléments */
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
  /* min-width: 300px; Largeur minimale pour petits écrans */
}

/* Conteneur du tableau principal */
.main-table-container {
  flex: 1 1 calc(0% - 5px); /* Largeur de 50% */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
  /* min-width: 400px; Largeur minimale pour les petits écrans */
}

/* Styles pour le DataGrid */
.data-grid {
  height: 100%; /* Occupation complète en hauteur */
  /* min-height: 200px; Hauteur minimale pour petits écrans */
}

/* Styles responsives pour les très petits écrans */
@media (max-width: 468px) {
  .table-container, .main-table-container {
    /* flex: 1 1 100%; Les éléments occupent 100% de la largeur */
    min-width: auto; /* Pas de largeur minimale */
  }
}
