/* src/Authentication.css */
.Authentication {
  text-align: center;
  /* background-image: url('/images/back.jpg'); */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.Authentication-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  float: right;
}

.Authentication-link {
  color: #61dafb;
}

@keyframes Authentication-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
