/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navigation Bar */
.navbar-app {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar-app .brand {
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
}

.navbar-app .toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}

/* Layout */
.layout {
  display: flex;
  height: calc(100% - 50px); /* Adjust based on your navbar height */
}

.left-menu {
  /* background-color: #343a40; */
  color: white;
  width: 250px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.left-menu.mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
}

.left-menu.mobile.open {
  transform: translateX(0);
}

.main-content {
  /* flex-grow: 1; */
  /* padding: 20px; */
  background-color: white;
   overflow-y: auto; /**/
  margin-top: 2%;
  width: 100%;
}

/* Date Picker */
.date-range-picker {
  margin: 20px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .left-menu {
    transform: translateX(-250px);
  }
  
  .left-menu.open {
    transform: translateX(0);
  }
  
  .main-content {
    padding: 10px;
  }

  .MuiContainer-root .MuiContainer-maxWidthLg content .css-1oqqzyl-MuiContainer-root {
    padding-top: 0% !important;
  }

  .container{
    max-width: 98% !important;
  }
}
